<!doctype html>
<html lang=en>
<meta charset=utf-8>
<h1>GeoSummary version {{thisPackage.version}}</h1>
For background, see my <a href="http://blog.houseofmoran.com/tagged/geosummary">blog</a>; the code lives on <a href="https://github.com/mikemoraned/geosummary">github</a>.

<h2>Some starting points</h2>

<p>
    For some help putting these in context, see <a href="http://geohash.gofreerange.com/">GeoHash Explorer</a> (that app is not mine).
</p>

<div>
    <ul>
        <li><a href="dr/">dr</a></li>
        <li><a href="u17/">u17</a></li>
        <li><a href="u3/">u3</a></li>
        <li><a href="u30/">u30</a></li>
        <li><a href="u33q/">u33q</a></li>
        <li><a href="ge/">ge</a></li>
        <li><a href="gc/">gc</a></li>
        <li><a href="d/">d</a></li>
        <li><a href="ey/">ey</a></li>
        <li><a href="ts/">ts</a></li>
    </ul>
</div>