<!doctype html>
<html lang=en>
<meta charset=utf-8>
<title>GeoSummary version {{thisPackage.version}}</title>

<style type="text/css">
    .sample {
        float: left;
        width: 320px;
        height: 320px;
        margin-right: 10px;
        margin-bottom: 5px;
    }
</style>

<div data-bind="foreach: images">
    <div class="sample">
        <a data-bind="attr: { href: info_href }">
            <img data-bind="attr: { src: img_href }"/>
        </a>
    </div>
</div>

<script src="/bower_components/uri.js/src/URI.min.js"></script>
<script src="/bower_components/zepto/zepto.min.js"></script>
<script src="/bower_components/knockout.js/knockout.js"></script>
<script src="/bower_components/underscore/underscore-min.js"></script>
<script src="/js/Application.js"></script>
<script type="application/javascript">
    $(function() {
        var app = new Application(window.location.href, "images/", 10);
        ko.applyBindings(app.model);
        app.run();
    });
</script>