<!doctype html>
<html lang=en>
<meta charset=utf-8>
<h1>GeoSummary version {{thisPackage.version}}</h1>
For info, see: <a href="https://github.com/mikemoraned/geosummary">geosummary</a> on github.


<div data-bind="foreach: images">
    <img data-bind="attr: { src: href }"/>
</div>

<script src="bower_components/zepto/zepto.min.js"></script>
<!--<script src="bower_components/curl/dist/curl-for-jQuery/curl.js"></script>-->
<!--<script src="bower_components/rest/rest.js"></script>-->
<!--<script src="bower_components/when/when.js"></script>-->
<script src="bower_components/knockout.js/knockout.js"></script>
<script src="js/Application.js"></script>
<script type="application/javascript">
    $(function() {
        var app = new Application("/images/foop");
        ko.applyBindings(app.model);
        app.run();
    });
</script>