<!doctype html>
<html lang=en>
<meta charset=utf-8>
<h1>GeoSummary version {{thisPackage.version}}</h1>
For info, see: <a href="https://github.com/mikemoraned/geosummary">geosummary</a> on github.

<h2>Some starting points</h2>

<p>
    For some help putting these in context, see <a href="http://geohash.gofreerange.com/">GeoHash Explorer</a> (not mine)
</p>

<div>
    <ul>
        <li><a href="u3/">u3</a></li>
        <li><a href="u30/">u30</a></li>
        <li><a href="u33q/">u33q</a></li>
        <li><a href="gc/">gc</a></li>
        <li><a href="d/">d</a></li>
        <li><a href="ey/">ey</a></li>
        <li><a href="ts/">ts</a></li>
    </ul>
</div>